################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/EvolApp
*.dll
/EvolApp/bin
/EvolApp/obj
/EvolApp.API/bin
/EvolApp.API/obj
/EvolApp.Shared/bin
/EvolApp.Shared/obj
/EvolApp.Socios/bin
/EvolApp.Socios/obj
/EvolAppSocios/bin/Debug
/EvolAppSocios/obj
